<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel='stylesheet' href="{% static 'style.css' %}">
  <script defer src="{% static 'main.js' %}"></script>
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"><title>Home</title>
  <title>Home</title>
</head>
<body>
  <div class="page-container d-flex flex-column">
    {% block nav %}
    <nav class="d-flex justify-content-between align-items-center bg-dark py-1 px-4">
      <a href="/" class="text-right my-1">
        <div class=" d-flex justify-content-center">
          <i class="fa-solid fa-film fa-2x mr-3"></i>
          <h4>Movie</h4>
        </div>
      </a>
      <div class="d-flex justify-content-center align-items-center">
        <form class="form-inline my-2 my-lg-0 mr-5" action="/search" method="GET">
          {% csrf_token %}
          <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning bg-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="/favorite" class="text-right my-2 mr-5  ml-auto">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-gratipay mr-2"></i>Favorite Movies
          </div>
        </a>
        {% if user.is_authenticated %}
        <div class="d-flex justify-content-center align-items-center">
        <a href="/profile"><h5 class="mx-3 my-2">Hello, {{ user.username }}</h5></a>
        <a href="/logout" class="text-light">Signout</a>
        </div>
        {% else %}
        <div class="d-flex justify-content-center align-items-center">
        <i class="fa-sharp fa-regular fa-circle-user mr-3 fa-1x"></i>
        <a href="/login" class="mr-3">Sign In</a> | <a href="/register" class="ml-3">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </nav>
    {% endblock %}
    <div class="container">
    {% block content %}
      <div class="card_lists pt-5" id="display-box">
        {% for m in movies %}
        <div class="card">
          <a href="/movies/{{m.id}}"><img src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt={{m.original_name}} class="image"></a>
        </div>
        {% endfor %}
      </div>
      <div class="none-visible" id="spinner-box">
        <div class="d-flex justify-content-center" >
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center" id="btn">
        <button class="btn btn-secondary mt-4" type="button">Loadmore</button>
      </div>
      <div class="alert alert-danger mt-2 none-visible" role="alert" id="alert">
        No more post to load!!
      </div>
    {% endblock %}
    </div>
    {% block foot %}
    <div class="foot">
      <p>All rights reserved.</p>
    </div>
    {% endblock %}
  </div>
</body>
{{ redirect_to_login_immediately }}
</html>