{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel='stylesheet' href="{% static 'style.css' %}"  type="text/css">
  <script defer src="{% static 'main.js' %}" ></script>
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"><title>Home</title>
  <title>Profile</title>
</head>
<body>
  {% block content %}
  <div class="profile_page py-5">
    <h1 class="text-center my-3">Profile Page</h1>
    <div class="information">
      <div class="profile_image">
        {% if user.profile.image %}
        <img src="{{user.profile.image.url}}" class="profile_image" alt="profile_photo" />
        {% else %}
        <img src="/media/noAvatar.png" class="profile_image" alt="profile_photo" />
        {% endif %}
      </div>
      <ul class="col-sm-5">
        <li class="row justify-content-start align-items-center"><h3 class="col-sm-3">Username:</h3><span class="ml-5">{{user.username}}</span></li>
        <li class="row justify-content-start align-items-center"><h3 class="col-sm-3">Email:</h3><span class="ml-5">{{user.email}}</span></li>
        {% if user.id == current_user.id %}
        <li class="mt-5">
          <div class="row">
            <button type="button" class="btn btn-warning mt-3 mr-5" id="edit-profile-photo">Edit Profile Photo</button>
            <button type="button" class="btn btn-warning mt-3" id="edit-profile">Edit Profile Info</button>
          </div></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="border-top pt-5 none-visible profile_edit_form" id="edit_photo_form">
    {% if messages %}
      <ul class="messages text-info">
          {% for message in messages %}
              <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <form action="/update/profile/{{request.user.id}}" method="POST" enctype="multipart/form-data" class="col-sm-8">
      {% csrf_token %}
      {{profile_form.as_p}}
      <div class="form-group row center">
        <button type="submit" class="btn btn-success">Update Profile Photo</button>
      </div>
    </form>
  </div>
  {% if messages %}
    <ul class="messages text-info">
      {% for message in messages %}
          <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="border-top pt-5 none-visible profile_edit_form" id="edit_form">
    
    <form action="/update/profile/{{request.user.id}}" method="POST" enctype="multipart/form-data" class="col-sm-8">
      {% csrf_token %}
      {{user_form.as_p}}
      <div class="form-group row center">
        <button type="submit" class="btn btn-success">Update Profile</button>
      </div>
    </form>
  </div>
  {% endblock %}
</body>
</html>